@import "tailwindcss";

/* Chat scroll area */
.chat-scroll::-webkit-scrollbar {
    width: 8px;
}

.chat-scroll::-webkit-scrollbar-track {
    background: #27272a;
    /* zinc-800 */
}

.chat-scroll::-webkit-scrollbar-thumb {
    background-color: #52525b;
    /* zinc-600 */
    border-radius: 9999px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #71717a;
    /* zinc-500 */
}

/* Firefox */
.chat-scroll {
    scrollbar-width: thin;
    scrollbar-color: #52525b #27272a;
}